<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>

		<p><a href="/new">Add New Message</a></p>
		<hr />

		<div class="messageContainer">
			<% for (var i = 0; i < messages.length; i++) { %>
			<p><b>User:</b> <%= messages[i]['user'] %></p>
			<p><b>Added:</b> <%= messages[i]['added'] %></p>
			<p><b>text:</b> <%= messages[i]['text'] %></p>
			<hr />
			<% } %>
		</div>
	</body>
</html>
